@{
    ViewBag.Title = "About FunkyFadz";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Have you ever been part of Fad? Browse through our images on owr FadsHome to be part of the revolutionary Funk!</p>
