@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Launch Fishers<br />
    12175 Visionary Way, Indianapolis IN 46038<br />
    <abbr title="Phone">Phone:</abbr>
    317-225-7038
</address>

<address>
    <strong>FunkyFadz Creator:</strong>   <a href="cnbucium@gmail.com">cnbucium@gmail.com</a><br />
    <strong>My Work:</strong> <a href="https://bucci10.github.io/Portfolio/">https://bucci10.github.io/Portfolio/</a>
</address>