@{
    ViewBag.Title = "Home Page";
}

<div class="row landing-image">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="main-heading-text">Rad FunkyFadz coming your way!</h1>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Got Fadz?</h2>
        <p>
            From Disco to RollerSkates, Afros and Lava Lamps, we provide all the Fads throughtout time.
        </p>

    </div>
    <div class="col-md-4">
        <h2>Which Decade?</h2>
        <p>Travel through time and tell us about Fads!</p>
  
    </div>
    <div class="col-md-4">
        <h2>I love Lamp!!</h2>
        <p>Loud Noisesssssssssssss!!!!</p>
       
    </div>
</div>